body{
        font-family: 'Heebo';
        margin: 0;
        background-image: url("12.png");
        background-size: cover;
        background-repeat: no-repeat;
}
.header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:1%;
    left: 5%;
    right: 5%;
}
.img1{
    width: 10%;
}
.img2{
    width: 15%;
    height:4%;
}
.main{
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    align-items: center;
}
.big_img{ 
    width: 100%;
}
input[type=text]{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    resize: vertical;
}
input[type=submit] {
    background-color: #1f4bb1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    float: right;
}
.fill_form{
    position: absolute;
    top:10%;
    right:70px;
    width: 50vh;
    direction: rtl;
    background-color: #ffffff;
    padding: 20px;
}
#title{
text-align: center;
color:#1f4bb1;
}
.opening{
    display: flex;
    justify-content: space-between;
    color:rgb(104, 104, 104) ;
}
.p_opening{
    border-bottom: 2px solid rgb(104, 104, 104);
}
.p_opening:hover{
    color: rgb(107, 0, 207) ;
    border-bottom: 2px solid rgb(107, 0, 207);
    cursor: pointer;
}
#end{
    color:#1f4bb1 ;
    font-size:10px;
    cursor: pointer;
}
.col-25 {
    float: right;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: right;
    width: 100%;
    margin-top: 6px;
}	
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}
.row a,
.row a input{
    width: 100%;
    margin-top: 10px;
}
.list{
    display: flex;
    justify-content: space-around;
    margin-left:10%;
}
.position{ 
    opacity: 0.5;
    position: relative;
}
.img_list{
    width: 50%;
}
.inner_list{
    position: absolute;
    top: 25%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon_list{
    width: 30%;
}
.text{
    font-family: 'Heebo';
    font-size:70%;
    color: blue;
}
.position:hover{
    opacity: 1;
}
.buttom{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
.box{
display: flex;
flex-direction: column;
align-items: center;
border: #5c5c5c 1px solid;
border-bottom: #1f4bb1 5px solid;
margin-left: 12px;
margin-right: 12px;
padding: 10px 12px 10px 12px;
width: 50%;
}
.text_box{
    font-size: 10px;
    text-align: center;
    color:#1f4bb1 ;
}
.img_box{
    width: 30%;
}
#large_text_box{
    font-size: 15px;
}

@media (max-width: 1200px){
    .big_img{
        display: none;
    }
    /* body{
        background-image: url("11.png");
        background-repeat:no-repeat;
    } */
    .fill_form{
        position: unset;
        right: unset;
    }

    .list{
        display: none;
    }

    .buttom{
        flex-direction: column;
        margin-top: 0;
        align-items: center;
    }

    .box{
        width: 75%;
        margin-top: 3vh;
    }
}